# CODEOWNERS file for das-roatp-assessor.
# The following users will be automatically added as Reviewers to all PRs.

* @MarkFCain @martin-hornsby @alandburns @gdbarnes @david-b-read @MichaelYoung1981 @MakCom
