@using SFA.DAS.RoatpOversight.Domain
@model SFA.DAS.RoatpOversight.Web.Models.AppealConfirmedViewModel
@{
    ViewData["Title"] = $"Outcome - {Model.Status}";
    var boxColour = string.Empty;
    switch (Model.Status)
    {
        case AppealStatus.Successful:
            boxColour = "das-tag--solid-green";
            break;
        case AppealStatus.Unsuccessful:
            boxColour = "das-tag--solid-red";
            break;
        default:
            boxColour = "das-tag--solid-blue";
            break;
        }
    }
<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" asp-controller="Home" asp-action="Dashboard">RoATP dashboard</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" asp-controller="Oversight" asp-action="Applications">RoATP application outcomes</a>
        </li>
        <li class="govuk-breadcrumbs__list-item" aria-current="page">Appeal saved</li>
    </ol>
</div>

<main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
            <div class="govuk-panel govuk-panel--confirmation @boxColour">
                <h1 class="govuk-panel__title">
                    Appeal outcome saved
                </h1>
                <div class="govuk-panel__body">
                    @Model.Status
                </div>
            </div>

            <p class="govuk-body">
                <a class="govuk-link" asp-controller="Oversight" asp-action="Applications">Go to RoATP application outcomes</a>
            </p>
        </div>
    </div>
</main>