@model SFA.DAS.RoatpOversight.Web.ViewModels.OutcomeDoneViewModel
@{
    ViewData["Title"] = $"OversightStatus - {Model.Status}";
}

<h1>Overall outcome saved</h1>
OversightStatus save as:<br />
@Model.Status

<p>We've sent this outcome to the applicant</p>

<a class="govuk-link" asp-controller="Oversight" asp-action="Applications">Go to RoATP application outcomes</a>
