/* TASK LIST */

.app-task-list {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

@media (min-width: 40.0625em) {
  .app-task-list {
    min-width: 550px;
  }
}

.app-task-list__section {
  display: table;
  font-family: "GDS Transport", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.11111;
}

@media print {
  .app-task-list__section {
    font-family: sans-serif;
  }
}

@media (min-width: 40.0625em) {
  .app-task-list__section {
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 1.25;
  }
}

@media print {
  .app-task-list__section {
    font-size: 18pt;
    line-height: 1.15;
  }
}

.app-task-list__section-number {
  display: table-cell;
}

@media (min-width: 40.0625em) {
  .app-task-list__section-number {
    min-width: 30px;
    padding-right: 0;
  }
}

.app-task-list__items {
  font-family: "GDS Transport", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  margin-bottom: 40px;
  list-style: none;
  padding-left: 0;
}

@media print {
  .app-task-list__items {
    font-family: sans-serif;
  }
}

@media (min-width: 40.0625em) {
  .app-task-list__items {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.31579;
  }
}

@media print {
  .app-task-list__items {
    font-size: 14pt;
    line-height: 1.15;
  }
}

@media (min-width: 40.0625em) {
  .app-task-list__items {
    margin-bottom: 60px;
  }
}

@media (min-width: 40.0625em) {
  .app-task-list__items {
    padding-left: 30px;
  }
}

.app-task-list__item {
  border-bottom: 1px solid #b1b4b6;
  margin-bottom: 0 !important;
  padding-top: 10px;
  padding-bottom: 10px;
}

.app-task-list__item:after {
  content: "";
  display: block;
  clear: both;
}

.app-task-list__item:first-child {
  border-top: 1px solid #b1b4b6;
}

.app-task-list__task-name {
  display: block;
}

@media (min-width: 28.125em) {
  .app-task-list__task-name {
    float: left;
  }
}

.app-task-list__task-completed,
.app-task-list__task-inprogress,
.app-task-list__task-notrequired,
.app-task-list__task-pass,
.app-task-list__task-fail,
.app-task-list__task-inactive,
.app-task-list__task-next {
  margin-top: 10px;
  margin-bottom: 5px;
}

@media (min-width: 28.125em) {
  .app-task-list__task-completed,
  .app-task-list__task-inprogress,
  .app-task-list__task-notrequired,
  .app-task-list__task-pass,
  .app-task-list__task-fail,
  .app-task-list__task-inactive,
  .app-task-list__task-next {
    float: right;
    margin-top: 0;
    margin-bottom: 0;
  }
}

/* Task list - custom */

.app-task-list__task-inprogress,
.app-task-list__task-pass {
  background-color: #00703c;
}

.app-task-list__task-fail {
  background-color: #d4351c;
}

.app-task-list__task-notrequired,
.app-task-list__task-inactive {
  background-color: #6f777b;
}

.app-task-list__task-next {
  background-color: #ffbf47;
  color: #000;
}

.app-task-list__task-hidden {
  display: none;
}

/* Wide - responsive table*/

.das-table--responsive-wide .govuk-table__head {
  display: none;
}

@media (min-width: 61.25em) {
  .das-table--responsive-wide .govuk-table__head {
    display: table-header-group;
  }
}

@media (min-width: 40.0625em) {
  .das-table--responsive-wide .govuk-table__caption {
    display: none;
  }
}

.das-table--responsive-wide .govuk-table__caption {
  margin-bottom: 10px;
}

.das-table--responsive-wide .govuk-table__body tr {
  margin-bottom: 10px;
  display: block;
  float: left;
  width: 100%;
  box-sizing: border-box;
  border: 2px solid #bfc1c3;
}

@media (min-width: 61.25em) {
  .das-table--responsive-wide .govuk-table__body tr {
    display: table-row;
    border: none;
    float: none;
    margin: 0;
  }
}

.das-table--responsive-wide .govuk-table__body tr th,
.das-table--responsive-wide .govuk-table__body tr td {
  display: block;
  text-align: right;
  clear: left;
  float: left;
  width: 100%;
  padding: 10px 10px 8px;
  box-sizing: border-box;
  border-bottom: 1px dotted #bfc1c3;
}

@media (min-width: 61.25em) {
  .das-table--responsive-wide .govuk-table__body tr th,
  .das-table--responsive-wide .govuk-table__body tr td {
    display: table-cell;
    text-align: left;
    float: none;
    clear: none;
    padding: 10px 20px 10px 0;
    border-bottom-style: solid;
    width: auto;
  }

  .das-table--responsive-wide
    .govuk-table__body
    tr
    th.govuk-table__cell--numeric,
  .das-table--responsive-wide
    .govuk-table__body
    tr
    td.govuk-table__cell--numeric {
    text-align: right;
  }
}

.das-table--responsive-wide .govuk-table__body tr th:before,
.das-table--responsive-wide .govuk-table__body tr td:before {
  content: attr(data-label);
  float: left;
  font-weight: bold;
  padding-right: 10px;
}

@media (min-width: 61.25em) {
  .das-table--responsive-wide .govuk-table__body tr th:before,
  .das-table--responsive-wide .govuk-table__body tr td:before {
    display: none;
  }
}

.das-table--responsive-wide .govuk-table__body tr th:last-child,
.das-table--responsive-wide .govuk-table__body tr td:last-child {
  border-bottom: none;
}

@media (min-width: 61.25em) {
  .das-table--responsive-wide .govuk-table__body tr th:last-child,
  .das-table--responsive-wide .govuk-table__body tr td:last-child {
    padding-right: 0;
    border-bottom: 1px solid #bfc1c3;
  }
}

.das-table--responsive-wide .govuk-table__body tr th:empty,
.das-table--responsive-wide .govuk-table__body tr td:empty {
  display: none;
}
