@model SFA.DAS.RoatpOversight.Web.Models.OutcomeViewModel



<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        @*das-highlight-error-for="OversightStatus" error-class="govuk-form-group--error"*@
        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="OversightStatus-error">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h2 class="govuk-heading-l">What is the overall outcome of this appeal?</h2>
                </legend>
            </fieldset>
        </div>
    </div>
</div>

